@model IEnumerable<ToDo_Calendar.Models.TasksModel>
@{
    ViewBag.Title = "SelectedDay";
    
}
<body>
    <div class="container day-header">
        <div>TASKS FOR THIS DAY</div>
        <div class="content" id="go-back"><a class="go-back" href="@Url.Action("Index", "Home")">| GO BACK</a></div>
        <div id="new-task"><a href="@Url.Action("SelectedTask", "FullWeek")">| NEW TASK</a></div>
    </div>



    <div class="notes-container">
        @foreach (var item in Model)
        {
           
            <div class="notes">
                <div class="notes-title">@item.TaskTitle</div>
                <br /><br />
                <div class="notes-text">@item.TaskText</div>
                <div class="notes-nav">
                    <br /><br />
                    <a class="edit-task" href="@Url.Action("Index", "Home")">Edit <span id="line">|</span></a>                  
                    <a class="delete-task" href="@Url.Action("DeleteTask", "FullWeek",new { id = item.TaskID })">Delete</a>
                </div>
            </div>

        }

    </div>
    
</body>