@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="container">
        <div class="content"><a href="@Url.Action("SelectedDay", "FullWeek", new { id = 1 })">MONDAY</a></div>
    </div>
    <div class="container">
        <div class="content"><a href="@Url.Action("SelectedDay", "FullWeek", new { id = 2 })">TUESDAY</a></div>
    </div>
    <div class="container">
        <div class="content"><a href="@Url.Action("SelectedDay", "FullWeek", new { id = 3 })">WEDNESDAY</a></div>
    </div>
    <div class="container">
        <div class="content"><a href="@Url.Action("SelectedDay", "FullWeek", new { id = 4 })">THURSDAY</a></div>
    </div>
    <div class="container">
        <div class="content"><a href="@Url.Action("SelectedDay", "FullWeek", new { id = 5 })">FRIDAY</a></div>
    </div>
    <div class="container">
        <div class="content"><a href="@Url.Action("SelectedDay", "FullWeek", new { id = 6 })">SATURDAY</a></div>
    </div>
    <div class="container">
        <div class="content"><a href="@Url.Action("SelectedDay", "FullWeek", new { id = 7 })">SUNDAY</a></div>
    </div>
    <div class="icon"><i class="medium material-icons">today</i></div>
</body>
